
<br>
      


         



         <br>
         <mat-card *ngIf="admin" class="row text-center container">
                <h1>Add new Livret</h1>
                        <form (ngSubmit)="formSubmit()" >
                            <mat-form-field class="col-md-8 w100" appearance="outline">
                                <label>title</label>
                                <input required type="text" name="title" matInput placeholder="enter here" 
                                [(ngModel)]="elivret.title">
                              </mat-form-field>
                               
                              <div class=" text-center mt15">
                                <button mat-raised-button  color="primary"> add livret</button>
                            </div>
                        
                            
                           </form>
           <br>
        </mat-card>
        <mat-divider></mat-divider>
<br>
        <mat-card class="card centered-card">
        <a mat-subheader class="title">List of Livrets</a>
      
            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
                

              </button>
              
            <mat-list>
               
                <mat-list-item *ngFor="let c of elivrets; let indexOfelement=index;">
                  <mat-icon matListItemIcon>folder</mat-icon>
                  <button routerLink="/livrets/{{c.id}}" type="button" class="btn btn-outline-primary ctitle">{{indexOfelement+1}}.{{c.title}}</button>
                  <button mat-icon-button  *ngIf="admin" color="warn" aria-label="Delete" (click)="openDeleteConfirmationDialog(c)">
                    <mat-icon >delete</mat-icon>
                  </button>
                </mat-list-item>
              </mat-list>
              
              
              
        </mat-card>