<mat-card>
  <button mat-button (click)="showForm11()">simple Form</button>
  <button mat-button (click)="showForm22()">options Form</button>
</mat-card>


<mat-card *ngIf="showForm1">

    <br><br>
                 <form (ngSubmit)="formSubmit()">
                     <mat-form-field class="w100" appearance="outline">
                         <label>title</label>
                         <input required type="text" name="content" matInput placeholder="enter here" 
                         [(ngModel)]="question.content">
                         
                       </mat-form-field>  
                       <div class="col-3 text-center mt15">
                         <button mat-raised-button  color="primary"> add question</button>
                     </div>
                 
                     
                 </form>
                 
    
     
    
 </mat-card>
 <mat-card *ngIf="showForm2">
  <form [formGroup]="questionForm" (ngSubmit)="formSubmit2(questionForm.value)">
    <div>
      <label>question :</label>
      <br />
      <input class="form-control" id="content" type="text" formControlName="content">
      <br />
      <label>Options</label>
      <div formArrayName="options">
        <div *ngFor="let test of arrayOptions; let i = index">
          <div class=mx-4 [formGroupName]="i">
            <label>response :  {{i+1}}</label>
            <input class="form-control" id="option" type="text" formControlName="option">
              </div>
            </div>
          </div>
        <button type="button" class="btn-block-option text-primary" (click)="addOption()">
          <i class="fa fa-plus" aria-hidden="true"></i>Add new response
        </button>
     
      </div>
      <div class="block-content block-content-full block-content-sm bg-body-light font-size-sm">
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
  </form>
</mat-card>

 <br>
 <mat-divider></mat-divider>
 <mat-card>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">question</th>
                <th scope="col">question type</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let c of questions">
              <tr>
                <td ><div *ngIf="showField != c.id">{{c.content}}<td><div>
                  <mat-form-field *ngIf="c.options.length > 0" class="col-md-8" appearance="fill">
                    <mat-label>responses</mat-label>
                    <mat-select required name="personType">
                      <mat-option *ngFor="let option of c.options" value="option">{{ option }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> 
              </td> </div><div *ngIf="showField === c.id">
                  <!-- <input [(ngModel)]="updateText" placeholder="{{c.content}}"> -->
                  
                    <mat-form-field class="example-full-width">
                      <input matInput [(ngModel)]="updateText" placeholder="{{c.content}}" >
                    </mat-form-field>
                  <button  mat-button (click)="updateQuestion(c)">Save</button> </div></td>
                
                <td>{{c.type}} </td>
                
                <td>
                  <button class="btn btn-primary" (click)="showUpdateField(c)"><i class="far fa-trash-alt">modify</i></button>
                  <button class="btn btn-danger"(click)="deleteQuestion(c)"><i class="far fa-trash-alt">Delete</i></button>


                </td>
              
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div></mat-card>


