<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span>Livret app</span>
    <span class="example-spacer"></span>
    <button  (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>logout</mat-icon>
    </button>



    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
  