
            
            <br>
                      <mat-card>
                        <mat-card-content>show All livrets</mat-card-content>
                      </mat-card>
                        <div class="container  mt20">
                          <button routerLink="/addLivrets" mat-raised-button color="primary"> add livret</button>
                      </div>
                    
                    
                      <div class="container">
                        <div class="row">
                          <div class="col-8">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th scope="col">numéro</th>
                                  <th scope="col">livrets</th>
                                  <th scope="col">getsion livret</th>
                                 
                            
                                </tr>
                              </thead>
                              <tbody *ngFor="let c of elivrets ; ">
                                <tr>
                                  <th scope="row">{{i}}</th>
                                  <td>{{c.title}}</td>
                                
                                  <td>
                                    <button type="button" routerLink="/livrets/{{c.id}}/sections" class="btn btn-primary"><i class="far fa-eye">sections</i></button>
                                    <button type="button" class="btn btn-success"><i class="fas fa-edit">modifier</i></button>
                                  <button type="button" class="btn btn-danger"><i class="far fa-trash-alt">supprimer</i></button>
                                  </td>
                                </tr>
                                
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>