.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  

    td,
    th {
      vertical-align: middle;
    }

  .btn-primary {
    margin: 5px;
  } 

  .btn-success {
    margin: 5px;
  } 
  .btn-danger {
    margin: 5px;
  } 

  .det{
    display: inline;
    margin-top: -45px;
  }

 .title{
  color: rgb(0, 0, 0);
  width: max-content;
 }
 .button-container{

  display: inline-block;
  margin-right: 10px;
  width: max-content;
  margin-top: 103px;
 }

 .mail li{
 width: 300px;
 }

 .tdtd {
  width: 300px;

 }

 .inpt{
  width: 100px;

 }