<div class="container-fluid text-center">    
   
    <div class=" text-left"> 
  
             </div>
           </div>
           <div class="container-fluid text-center">    
 
              <div class=" text-left"> 
             
                        </div>
                     </div>
            
                     <mat-list>
                        <div mat-subheader>questions of {{title}}</div>
                        
                        <mat-divider></mat-divider>

                        <mat-card>
                           <!-- <form>
                              <div *ngFor="let field of formFields">
                                <label>{{field.label}}</label>
                                <input [type]="field.type" />
                              </div>
                              <div>
                                <label>Field Label:</label>
                                <input #fieldLabel />
                              </div>
                              <div>
                                <label>Field Type:</label>
                                <select #fieldType (change)="addField(fieldType.value,fieldLabel.value)">
                                  <option value="text">Text</option>
                                  <option value="options">Options</option>
                                </select>
                              </div>
                              <button (click)="addField(fieldType.value, fieldLabel.value)">Add Field</button>

                            </form> -->

                         
                            
                        </mat-card>
                       
                      </mat-list>
                   
