
             <mat-card class="que">
                        <div mat-subheader>questions of {{title}}</div>
                        
                      </mat-card>
                      <br>  
                      <mat-divider></mat-divider>


                        <mat-card class="textFrom">
                          <h2>text form </h2>
                          <form [formGroup]="quizForm" (ngSubmit)="submitQuestionsForm()">
                            <div formArrayName="questions">
                              <div *ngFor="let question of Gquestions.controls; let i = index">
                                <div [formGroupName]="i">
                                  <label>Question {{ i + 1 }}</label>
                                  <input formControlName="content" >
                                  <button (click)="deleteQuestion(i)">Delete</button>
                                 
                                </div>
                              </div>
                            </div>
                            <br>
                            <!-- <button type="button" class="btn-block-option text-primary offset-3" (click)="addQuestion()">Add Question</button>
                            <button type="button" class="btn-block-option text-primary" (click)="submitQuestionsForm()">Submit Quiz</button>
                            <button type="button" (click)="quizForm.reset()">Reset</button> -->

                          </form>

                         

<br>
                        </mat-card>


                        <br>
                        <br>
                        <mat-divider>
                      
                        </mat-divider>

                        <mat-card>
                          <form>
                            <div *ngFor="let question of TextQuestions">
                              <label>{{question.content}}</label>
                              <input name="question.id">
                              <button (click)="deleteQuestion2(question.id)">Delete</button>

                            </div>
                            <!-- <button >Submit</button> -->
                          </form>
                          
                        </mat-card>
                        <mat-card class="optionForm">

                          <br>
                          <h2>options form </h2>
                          <form [formGroup]="questionForm" >
                            <div>
                              <label>question:</label>
                              <br />
                              <br />
                              <div formArrayName="options">
                                <div *ngFor="let test of arrayOptions; let i = index">
                                  <div class=mx-4 [formGroupName]="i">
                                    <!-- <label>option {{i}}</label>
                                    <input class="form-control" id="response" type="text" formControlName="response">
                                     -->
                                      </div>
                                  </div>
                                </div>
                                <!-- <button type="button" class="btn-block-option text-primary" (click)="addOption()">
                                  <i class="fa fa-plus" aria-hidden="true"></i>Add option
                                </button> -->
                              </div>
                              <!-- <div class="block-content block-content-full block-content-sm bg-body-light font-size-sm">
                                <button class="btn btn-primary" type="submit">Add</button>
                              </div> -->
                          </form>
                        </mat-card>
                
