
                <mat-card class="row text-center container">
                      <div class="row">
                        <div class="col-md-12">
                          <table class="table table-bordered w300">
                            <thead>
                              <tr>
                                <th scope="col">section</th>
                                <th scope="col">filled by</th>
                                <th scope="col">actions</th>
                              </tr>
                            </thead>
                            <tbody *ngFor="let c of sections;let indexOfelement=index;">
                              <tr>
                                <td>{{c.title}}</td>
                                <td>
                                  {{c.personType}}
                                </td>
                               
                                <td>
                                <button type="button" routerLink="/questions/{{c.id}}/{{c.title}}" class="btn btn-primary w-100"><i class="far fa-eye">Questions</i></button>                                
                                </td>
                                

                              </tr>
                              
                            </tbody>
                          </table>
                        </div>
                      </div>
                  </mat-card>
                    

<!-- 
                    <div>
                      <mat-card>

                        <div class="bootstrap-wrapper">
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <form (ngSubmit)="formSubmit()">
                                        <div>
                                        <mat-form-field class="w100" appearance="outline">
                                          <label>Section title</label>
                                          <input required type="text" name="title" [(ngModel)]="section.title" matInput placeholder="enter here" >
                                        </mat-form-field>  
                                      </div>
                                      <div>
                                        <mat-form-field appearance="fill">
                                          <mat-label>Fill By</mat-label>
                                          <mat-select required name="personType" [(ngModel)]="section.personType" [(value)]="selected">
                                            <mat-option value="Tuteur">Tuteur</mat-option>
                                            <mat-option value="Responsable_de_formation">Responsable de formation</mat-option>
                                            <mat-option value="Alternant">Alternant</mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                      </div> 
                                         
                                      <div class="container text-center mt15">
                                          <button mat-raised-button  color="primary"> add section </button>
                                      </div>
                                    
                                        
                                    </form>
                                    
                       
                                </div>
                            </div>
                        </div>
                      </mat-card>
                    </div>

                     -->